/**
 * theme overrides
 */
#footer {
    clear: both;
}
#logo h1 {
    text-transform: inherit;
}
#logo {
    width: 450px;
}
#menu {
    width: 500px;
}
#header {
    background: none;
    height: 90px;
}
#osf-logo {
    clear: both;
}
#content {
    margin-bottom: 2em;
}
h2,h3 {
    margin-bottom: 0.25em;
}
.uniForm legend {
    display: none;
}
.uniForm .ctrlHolder {
    margin: 2em 0;
}
.uniForm .ctrlHolder .error {
    font-weight: bold;
    font-size: 1.2em;
    color: red;
}
.uniForm .ctrlHolder label {
    cursor: auto;
}

/**
 * style specific
 */
a#pick-files:hover {
    cursor: pointer;
}
a#upload {
    display: none;
}

#images textarea {
    height: 100px;
    width: 450px;
    padding: 5px;
}
.image-container {
    height: 100px;
    width: 125px;
    display: inline-block;
}
#images a {
    position: relative;
    top: -50px;
    left: 15px;
}
#images li {
    list-style: none;
    margin: 2em 0;
    padding: 0;
}
#images ul {
    padding: 0;
}
#images p {
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
}
.draggable {
    cursor: move;
    -moz-user-select: none;
}
.dragging {
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}

.application-submit legend {
    margin: 2em 0;
}
.application-submit dt {
    margin: 1em 0;
    font-weight: bold;
}
.application-submit ol li {
    margin: 2em 0;
}
.application-submit ol span {
    position: relative;
    top: -80px;
    left: 15px;
}
.application-submit .submit-button {
    margin: 2em 0;
}

#sidebar .applications {
    margin-top: 1em;
}
#sidebar .applications ul,
#sidebar .applications li,
#sidebar h2 {
    padding: 0;
    margin-left: 0;
}

#statement, #biography {
    width: 650px;
}

.note {
    color: grey;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}
