(ns docphoto.config)

(def debug false)
(def debug-css false)
(def debug-js false)

(def conn-dev {:user "username"
               :pass "password"
               :token "token"})

(def conn-prod {:user "username"
                :pass "password"
                :token "token"})

(def mail-config
  {:from "defaultuser@example.com"})

(def admins
  (set ["admin-contact-username"]))

;; depending on value, we get different behavior
;; true -> always show multiple language selector
;; nil -> never show multiple language selector
;; "domain" -> show multiple language selector when this host matches
(def multiple-languages "docphoto.soros.org")

;; if proxied, use a different header to generate absolute links
(def proxied? false)

;; objects created will use this owner id
(def owner-id nil)

;; where image will be saved
;; override for production deployments
(def base-storage-path nil)

;; pdf generation will issue requests to this url to fetch images
(def pdf-generation-base-url "http://127.0.0.1:8080")

;; whether to start a swank server on servlet init
(def swank-server? false)
