(ns docphoto.config)

(def debug false)

(def conn-dev {:user "username"
               :pass "password"
               :token "token"})

(def conn-prod {:user "username"
                :pass "password"
                :token "token"})

(def mail-config
  {:from "defaultuser@example.com"})
