body {
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3C3D3F;
}

h1, h2, h3 {
    font-weight: normal;
    color: #FF3000;
    margin: 0 0 0.25em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 2.8em; }
h3 { font-size: 1.6em; }

p, ul, ol {
    line-height: 1.5em;
}

a {
    text-decoration: underline;
    color: #EB1D1D;
}
a:hover {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

#header {
    background: none;
    height: 70px;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #BBB;
}
#osf-logo {
    float: left;
}
#language {
    float: right;
}
#language ul,
#language li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
#language li {
    margin: 0 5px;
}
#heading-section {
    clear: both;
    margin-top: 1em;
}
#heading {
    text-transform: uppercase;
}
#contact {
    float: right;
}
#header h1 {
    font-weight: bold;
}
#header a {
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#heading a {
    color: #FF3000;
}
#heading a:hover {
    text-decoration: none;
}
#content {
    float: left;
    width: 760px;
    background: #FFF;
    margin: 0 0 2em 0;
}
#sidebar {
    float: right;
    width: 200px;
    text-align: right;
}
#sidebar h2 {
    color: #414141;
    font-size: 2em;
    margin: 0.5em 0;
}
#sidebar #login-logout {
    margin: 0 0 1em 0;
}
#sidebar #update-profile {
    margin: 1em 0;
}
#sidebar #applications-list {
    margin-top: 1em;
}
#sidebar ul,
#sidebar li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidebar a {
    text-decoration: none;
}
#sidebar a:hover {
    text-decoration: underline;
}
#sidebar #admin {
    margin-top: 1em;
}

#footer {
    border-top: 2px solid #BBB;
    clear: both;
}
#footer p {
    margin: 1em 0 2em 0;
    color: #777;
    font-size: 0.8em;
}

.uniForm {
    background-color: #E8F3FC;
    padding: 20px;
}

.uniForm legend {
    display: none;
}
.uniForm .ctrlHolder {
    margin: 2em 0;
}
.uniForm .ctrlHolder .error {
    font-weight: bold;
    font-size: 1.2em;
    color: red;
}
.uniForm .ctrlHolder label {
    cursor: auto;
}
.uniForm .formHint {
    clear: inherit;
    float: inherit;
    width: inherit;
    margin: 0;
    color: #999;
    font-style: italic;
    font-size: 12px;
}
.uniForm .textInput,
.uniForm .fileUpload,
.uniForm .selectInput,
.uniForm select,
.uniForm textarea {
    float: none;
}

/**
 * style specific
 */
a#pick-files:hover {
    cursor: pointer;
}
p#upload-container {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin: 1em 0;
    text-align: center;
}
a#upload {
    border: 1px solid red;
    padding: 15px;
    text-decoration: none;
}
a#upload:hover {
    border: 2px solid red;
}

.image-caption {
    width: 400px;
}

#images .image-caption {
    height: 100px;
    padding: 5px;
}
.image-container {
    height: 100px;
    width: 125px;
}
#images a {
    position: relative;
    top: -50px;
    left: 15px;
}
#images li {
    list-style: none;
    margin: 2em 0;
    padding: 0;
}
#images ul {
    padding: 0;
}
#images p {
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
}
#images p.error {
    color: red;
}
.draggable {
    cursor: move;
    -moz-user-select: none;
}
.dragging {
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}

.application-submit legend {
    margin: 2em 0;
}
.application-submit dt {
    margin: 1em 0;
    font-weight: bold;
}
.application-submit ol li {
    margin: 2em 0;
}
.application-submit .submit-button {
    margin: 2em 0;
}

.uniForm p.formHint {
    display: block;
    float: none;
    width: 100%;
}
.editor {
    width: 650px;
}

.note {
    color: grey;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}
#review .uniForm p.note {
    margin: 1em 0;
}
#review dt {
    font-weight: bold;
    font-size: 1.2em;
}

#login-notes p {
    margin: 1em 0;
}

#guidelines h1 {
    text-align: center;
}

#guidelines h2 {
    font-size: 16px;
    text-decoration: underline;
    color: black;
    margin: 1em 0;
}

#guidelines h3 {
    font-size: 15px;
}
